.site-header {
	.widget_shopping_cart {
		a.button {
			background-color: $color__green;
			&:hover {
				background-color: $color__sec_dark-green;
			}
			&:focus {
				outline-color: $color__green;
			}
		}
	}
}
.site-header-cart {
	a.cart-contents {
		padding: 15px 15px;
		&:hover {
			text-decoration: none;
		}
		&:before {
			content: "";
			display: block;
			width: 1px;
			height: 25%;
			background-color: rgba(0,0,0,.15);
			position: absolute;
			top: 37.5%;
			left: 20px;
		}
		&:after {
			color: $color__green;
			content: "\f290";
			font-size: 1.4em;
			line-height: 1em;
		}
		.amount {
			font-size: .9em;
			margin-left: 2.5em;
		}
		.count {
			font-weight: 600;
			line-height: .7em;
			text-align: center;
			opacity: .8;
			right: 2.3em;
			top: 1.25em;
			background-color: $color__black;
			position: absolute;
			border-radius: 50%;
			height: 1.5em;
			width: 1.5em;
			color: $color__light-grey;
			padding: 5px;
		}
	}
}
table.cart {
	td,th {
		padding: 1em;
	}
}
.wc-proceed-to-checkout {
	width: 30%;
	float: right;
}
a.checkout-button.button.alt.wc-forward {
	background-color: $color__green;
	box-shadow: none;
	border: 1px solid $color__green;
	&:hover {
		background-color: #fff;
		border: 1px solid $color__green;
		color: $color__green;
	}
}
a, .button, .button.alt, .button.wc-forward {
	&:focus {
		outline-color: $color__green;
	}
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}
button, input[type="button"], 
input[type="reset"], input[type="submit"], 
.button, .added_to_cart, 
.widget-area .widget a.button, 
.site-header-cart .widget_shopping_cart a.button {
	background-color: $color__green;
	border: 1px solid $color__green;
	box-shadow: none;
	color: #fff;
	&:hover {
		background-color: #fff;
		border: 1px solid $color__green;
		box-shadow: none;
		color: $color__green;
	}
}

.cart-collaterals {
	.cart_totals {
		width: 100%;
	}
}

@media screen and (max-width: 424px) {
	.wc-proceed-to-checkout {
		width: 100%;
	}
}

.woocommerce-checkout-payment {
	.payment_method_paypal {
		a.about_paypal {
			float: right;
			margin-right: .5em;
			color: $color__green;
			&:before {
				content: "\e900";
				font-family: lacunafont;
			}
			&:after {
				content: "\e901";
				font-family: lacunafont;
			}
		}
	}
}
