.site-main {
	.woocommerce {
		div.products {
			div.product {
			margin-bottom: 40px;
			.item-wrap {
				background-color: #fff;
				box-shadow: 0 0 2px rgba(173,173,173,.7);
				padding: 5px 5px 15px 5px;
				max-width: 300px;
				min-height: 330px;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				img {
					margin-left: auto;
					margin-right: auto;
				}
			}
			.item-text {
				padding: 0 10px;
				text-align: center;
			}

			span.price {
				font-size: 14px;
				display: block;
				color: $color__green;
				font-weight: 800;
				del {
					color: $color__dark-grey;
					opacity: 0.8;
				}
			}
			span.onsale {
				min-height: 3em;
				min-width: 6.7em;
				border-radius: 0;
				border: 0;
				text-transform: uppercase;
				background-color: $color__black;
				top: 5px;
				left: 2em;
				line-height: 24px;
				padding: 0.6em .202em .202em;
				font-size: 10px;
				color: #fff;
				&:before {
					content: '';
				    display: block;
				    width: 20px;
				    height: 0.2em;
				    margin: 0 22px;
				    background: #ffffff;
				    position: absolute;
				}
				&:after {
					content: "";
				    position: absolute;
				    top: 32px;
				    left: 0;
				    width: 0;
				    height: 0;
				    border-style: solid;
				    border-color: $color__black transparent transparent transparent;
				    border-width: 10px 33px 0 34px;
				}
			}
				
			h3 {
				font-size: 1.2em;
				margin-top: 15px;
				margin-bottom: 0;
			}
			a.button {
				@include lacuna-button(#fff, $color__green, 1em);
				margin-top: 10px;
				position: absolute;
				bottom: 5%;
				left: 50%;
				transform: translate(-50%, 0);
				
			}
			.star-rating {
				span {
				&:before {
					color: $color__green;
				}
				}
			}
			&.sale {
				.price {
					ins {
						color: $color__sec_red; 
					}
				}
			}
				
		}
		span.soldout {
				@extend span.onsale;
				background: none;
				text-shadow: none;
				font-weight: 700;
				text-decoration: line-through;
				-webkit-box-shadow: none;
				box-shadow: none;
			}	
		}
	}
}

#popular-item {
	.woocommerce {
		div.products {
			div.product {
				.item-wrap {
					min-height: 385px;
						
				}
			}
		}
	}
}
