@import "product.scss";

.single-product {
	div.product { 
		padding-bottom: 1px;
		padding-top: 1px;
		.image-wrap {
			position: relative;
			.images {
				padding: 5px;
				box-shadow: 0 0 2px rgba(173,173,173,.7);
			}
		}
		div.summary {
			.star-rating {
				span:before {
					color: $color__green;
				}
			}
			h1 {
				color: $color__green;
				font-size: 2.5em;
				margin-top: 0;
			}
			.price {
				span.amount {
					font-size: 20px;
					color: $color__dark-grey;
				}
				ins {
					display: block;
				}
			}
			button.alt, .button.alt {
				text-align: center;
				margin-top: 10px;
				border-radius: 0;
				background-color: #fff;
				border: 1px solid $color__green;
				font-family: $font__heading;
				font-size: 0.9em;
				color: $color__green;
				padding: 10px;
				box-shadow: none;
				&:hover {
					background-color: $color__green;
					color: #fff;
				}
				&:focus {
					outline-color: $color__green;
				}
			}
		}
		span.onsale {
			min-height: 3em;
			min-width: 6.7em;
			border-radius: 0;
			border: 0;
			text-transform: uppercase;
			background: $color__black;
			left: 2em;
			top: 5px;
			line-height: 24px;
			padding: 0.6em .202em .202em;
			font-size: 10px;
			color: #fff;
			&:before {
				content: '';
			    display: block;
			    width: 20px;
			    height: 0.2em;
			    margin: 0 22px;
			    background: #ffffff;
			    position: absolute;
			}
			&:after {
				content: "";
			    position: absolute;
			    top: 32px;
			    left: 0;
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-color: $color__black transparent transparent transparent;
			    border-width: 10px 33px 0 34px;
			}
		}
		span.soldout {
			@extend span.onsale;
			text-shadow: none;
			font-weight: 700;
			text-decoration: line-through;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.related {
			.products {
				div.product {
					margin-bottom: 40px;
					.item-wrap {
						background-color: #fff;
						box-shadow: 0 0 2px rgba(173,173,173,.7);
						padding: 5px 5px 15px 5px;
						max-width: 300px;
						margin-left: auto;
						margin-right: auto;
						position: relative;
						img {
							margin-left: auto;
							margin-right: auto;
						}
					}
					.item-text {
						padding: 0 10px;
						text-align: center;
					}

					span.price {
						font-size: 14px;
						display: block;
						color: $color__green;
						font-weight: 800;
						del {
							color: $color__dark-grey;
							opacity: 0.8;
						}
					}
					span.onsale {
						min-height: 3em;
						min-width: 6.7em;
						border-radius: 0;
						border: 0;
						text-transform: uppercase;
						background-color: $color__black;
						top: 5px;
						left: 3em;
						line-height: 24px;
						padding: 0.6em .202em .202em;
						font-size: 10px;
						color: #fff;
						&:before {
							content: '';
						    display: block;
						    width: 20px;
						    height: 0.2em;
						    margin: 0 22px;
						    background: #ffffff;
						    position: absolute;
						}
						&:after {
							content: "";
						    position: absolute;
						    top: 32px;
						    left: 0;
						    width: 0;
						    height: 0;
						    border-style: solid;
						    border-color: $color__black transparent transparent transparent;
						    border-width: 10px 33px 0 34px;
						}
					}
				
					h3 {
						font-size: 22px;
						margin-top: 15px;
						margin-bottom: 0;
					}
					a.button {
						text-align: center;
						margin-top: 10px;
						border-radius: 0;
						background-color: #fff;
						border: 1px solid $color__green;
						font-family: $font__heading;
						font-size: 1em;
						color: $color__green;
						padding: 7px 10px 6px;
						box-shadow: none;
						&:focus {
							outline-color: $color__green;
						}
					}
					.star-rating {
						span {
						&:before {
							color: $color__green;
						}
						}
					}	
				}
				span.soldout {
						@extend span.onsale;
						background: none;
						text-shadow: none;
						font-weight: 700;
						text-decoration: line-through;
						-webkit-box-shadow: none;
						box-shadow: none;
					}	
				}

				}
				
				
				
			}
	#reviews {
		.commentlist {
			li {
				.comment_container {
					background-color: #fff;
					border-radius: 0;
					box-shadow: 0 0 2px rgba(173,173,173,.7);
				}
			}
		}
	}
}

.star-rating {
	span:before {
		color: $color__green;
	}
}
input[type="submit"] {
	text-align: center;
	margin-top: 10px;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid $color__green;
	font-family: $font__heading;
	font-size: 1em;
	color: $color__green;
	padding: 7px 10px 6px;
	box-shadow: none;
	&:focus {
		outline-color: $color__green;
		box-shadow: none;
		border-color: $color__green;
	}
	&:active {
		border-color: $color__green;
		box-shadow: none;
	}
	&:hover {
		background-color: $color__green;
		border: 1px solid $color__green;
		color: #fff;
		box-shadow: none;
		text-shadow: none;
	}
}

#respond {
	background-color: #fff;
	box-shadow: 0 0 2px rgba(173,173,173,.7);
}
.woocommerce-message {
	background-color: $color__green;
	border-radius: 0;
}