@import '../variables-site/colors';
#primary-nav {

	.navbar {
		border: 0;
		border-radius: 0;
		.navbar-collapse {
	 		text-align: center;
	 	}
	.navbar-nav {
		> li > a {
			color: $color__link;
			&:hover {
				background-color: $color__background-hover;
			}
		}
	  // Uncollapse the nav
	  @media (min-width: 768px) {
	    float: none;
	    display: inline-block;
	 	
	  }
	}
	}	
}
#top-nav {
	.navbar-default {
		background: none;
		border: none;
		span {
			margin-right: 5px;
		}
	}
}