// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 14) * 1px;
	font-size: $sizeValue * 1.4rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Border Button mixin
@mixin lacuna-button($color-back, $color-font, $font-size: .9em) {
	text-align: center;
	border-radius: 0;
	background-color: $color-back;
	border: 1px solid $color-font;
	font-family: $font__heading;
	font-size: $font-size;
	color: $color-font;
	padding: 7px 10px 3px;
	box-shadow: none;
	&:focus {
		outline-color: $color-font;
	}
	&:hover {
		background-color: $color-font;
		color: $color-back;
	}
}
