#mc_embed_signup{
	input[type="text"], input[type="email"], 
	input[type="url"], input[type="password"], 
	input[type="search"], input[type="number"], 
	input[type="tel"], input[type="range"], 
	input[type="date"], input[type="month"], 
	input[type="week"], input[type="time"], 
	input[type="datetime"], input[type="datetime-local"], 
	input[type="color"]{
		border-radius: 0;
		width: 100%;
	}
	button, input[type="button"], input[type="reset"], input[type="submit"]{
		font-size: 14px;
		box-shadow: none;
		border-radius: 0;
		margin: 30px auto;
		border: 1px solid $color__green;
		background-color: $color__green;
		color: #fff;
		
		&:hover{
			color: $color__green;
			background-color: #fff;
		}
	}
	.mc-field-group{
		h4{
			text-align: left;
		}
	}

}