.widget_nav_menu {
	ul {
		li {
			&:before {
				content: "";
				margin-right: 0;
			}
		}
	}
}
.widget_pages {
	ul {
		li {
			&:before {
				content: "";
				margin-right: 0;
			}
		}
	}
}

.site-footer {
	.storefront-handheld-footer-bar {
		a {
			&:not(.button) {
				color: $color__green;
			}
		}
	}
}
.storefront-handheld-footer-bar {
	ul {
		li {
			&.cart {
				&>a {
					&:before {
						content: "\f290";
					}
				}
			}
		}
	}
}