#front-images {
	background: url(img/building.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: 100% cover;
	.front-images-content {
		height: 300px;
		position: relative;
		@media #{$screen-sm} {
			height: 600px;
		}
		.front-content {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			text-align: center;
			background-color: rgba(95,210,210,0.6);
			padding: 10px;
			width: 100%;
			h2 {
				font-size: 2.5em;
				margin-bottom: 0;
			}
			p {
				width: 60%;
				margin: 0 auto;
				@media #{$screen-sm} {
					width: 100%;
					text-align: left;
				}
			}
			
		}
	}
	
}
#designer-promo {
	padding-top: 30px;
	h2 {
		a {
			color: $color__green;
		}
	}
}
#popular-item {
	background: url("img/skew_background.jpg") no-repeat 100%;
}
.pea_cook_wrapper { 
	border-radius: 0 !important;
	padding: 30px 21px !important;
	border-top: 2px solid $color__green;
	background-color: #fff !important;
	&.pea_cook_bottomcenter {
		left: 0 !important;
		bottom: 0 !important;
		margin: 0 !important;
		width: 100% !important;
	}
	p {
		font-family: inherit !important;
		font-size: 12px !important;

	}
}
button.pea_cook_btn {
	text-align: center !important;
	text-shadow: none !important;
	margin-top: 10px !important;
	border-radius: 0 !important;
	background-color: $color__green !important;
	border: 1px solid $color__green !important;
	font-family: $font__heading !important;
	font-size: 1em !important;
	font-weight: 600 !important;
	color: #fff !important;
	padding: 7px 10px 6px !important;
	box-shadow: none !important;
	&:focus {
		outline-color: $color__green !important;
	}
	&:hover {
		text-align: center !important;
		margin-top: 10px !important;
		border-radius: 0 !important;
		background-color: #fff !important;
		border: 1px solid $color__green !important;
		font-family: $font__heading !important;
		font-size: 1em !important;
		font-weight: 600 !important;
		color: $color__green !important;
		padding: 7px 10px 6px !important;
		box-shadow: none !important;
	}
}
#lacuna-info {
	.wrapper-box {
		background-color: #fff;
		vertical-align: middle;
		position: relative;
		height: 150px;
		h3, h4 {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			left: 50%;
			a.link-button {
				text-align: center;
				margin-top: 10px;
				border-radius: 0;
				background-color: #fff;
				border: 1px solid $color__green;
				font-family: $font__heading;
				font-size: 1em;
				color: $color__green;
				padding: 7px 10px 6px;
				box-shadow: none;
				&:focus {
					outline-color: $color__green;
				}
				&:hover {

				}
			}
		}
	}
	.modal {
		.mc-field-group {
			padding: 10px 0;
		}
	}
}
#designer-logo {
	.kunder-img {
		margin-bottom: 15px;
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
}
#payment {
	.place-order {
		padding: 1.387em 0;
	}
	}  