#front-images {
	background: url(img/building.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: 100% cover;
	width: 100%;
	.front-images-content {
		height: 300px;
		position: relative;
		@media #{$screen-sm} {
			height: 600px;
		}
		.front-content {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			text-align: center;
			background-color: rgba(95,210,210,0.6);
			padding: 10px;
			width: 100%;
			h2 {
				font-size: 2.5em;
				margin-bottom: 0;
			}
			p {
				width: 60%;
				margin: 0 auto;
				@media #{$screen-sm} {
					width: 100%;
					text-align: left;
				}
			}
			
		}
	}
	
}
#designer-promo {
	.headline {
		margin-bottom: .5em;
	}
	padding-top: 30px;
	h1 {
		margin-bottom: 0.1em;
	}
	h2 {
		a {
			color: $color__green;
		}
	}
}
#popular-item {
	background: url("img/skew_background.jpg") no-repeat 100%;
}
.pea_cook_wrapper { 
	border-radius: 0 !important;
	padding: 30px 21px !important;
	border-top: 2px solid $color__green;
	background-color: #fff !important;
	&.pea_cook_bottomcenter {
		left: 0 !important;
		bottom: 0 !important;
		margin: 0 !important;
		width: 100% !important;
	}
	p {
		font-family: inherit !important;
		font-size: 12px !important;

	}
}
button.pea_cook_btn {
	text-align: center !important;
	text-shadow: none !important;
	margin-top: 10px !important;
	border-radius: 0 !important;
	background-color: $color__green !important;
	border: 1px solid $color__green !important;
	font-family: $font__heading !important;
	font-size: 1em !important;
	font-weight: 600 !important;
	color: #fff !important;
	padding: 7px 10px 6px !important;
	box-shadow: none !important;
	&:focus {
		outline-color: $color__green !important;
	}
	&:hover {
		text-align: center !important;
		margin-top: 10px !important;
		border-radius: 0 !important;
		background-color: #fff !important;
		border: 1px solid $color__green !important;
		font-family: $font__heading !important;
		font-size: 1em !important;
		font-weight: 600 !important;
		color: $color__green !important;
		padding: 7px 10px 6px !important;
		box-shadow: none !important;
	}
}
#lacuna-info {
	.carousel-control {
		.fa-angle-left {
			left: 50%;
			margin-left: -10px;
		}
		.fa-angle-right {
			margin-right: -10px;
			right: 50%;
		}
		.fa-angle-left, .fa-angle-right {
			position: absolute;
			top: 50%;
			z-index: 5;
			display: inline-block;
			font-size: 2em;
			@media #{$screen-min-lg} {
				width: 30px;
				height: 30px;
				margin-top: -10px;
				font-size: 30px;
			}
		}
	}
	.wrapper-box {
		background-color: rgba(95, 210, 210, 0.7);
		vertical-align: middle;
		position: relative;
		padding: 5px;
		h3, h4 {
			margin-top: 20px;
			}
			.blog-link {
				@include lacuna-button( #fff, $color__green, 1em);
				margin-bottom: 20px;
				position: relative;
				display: inline-block;
				}
		
	}
	.modal {
		.mc-field-group {
			padding: 10px 0;
		}
	}
}
#designer-logo {
	.kunder-img {
		margin-bottom: 15px;
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
}
#payment {
	.place-order {
		padding: 1.387em 0;
	}
	}

.carousel-inner {
	.carousel-1 {
		
		
	}
}
.carousel-caption {
	bottom: 46%;
	transform: translate(0, 50%);
	text-shadow: none;
}

