.woocommerce-active {
	.site-header {
		padding-top: 0;
		.secondary-navigation {
			width: 75%;
			margin: 0;
			ul.menu {
				a {
					padding: 1.25em .6em;
				}
				i {
					font-size: 20px;
				}
				#menu-item-244 {
					a {
						padding-left: 2em;
					}
					i {
						color: $color__green;
					}
				}
			}	
		}
		.main-navigation {
			width: 100%;
			border-bottom: 1px solid $color__dark-grey;
			@media #{$screen-md} {
				padding-bottom: 15px;
				ul {
					li {
						a {
							text-align: center;
							&:before {
								content: "\e900";
								font-family: lacunafont;
								color: $color__green;
								float: left;
								padding-left: 2em;
							}
							&:after {
								content: "\e901";
								font-family: lacunafont;
								color: $color__green;
								float: right;
								padding-right: 2em;
							}
						}
					}
				}

			}
			button.menu-toggle {
				box-shadow: none;
				border: 2px solid $color__green;
				margin-right: 1em;
				span {
					&:before {
						background-color: $color__green;
					}
				}
				&:before {
						background-color: $color__green;
					}
				&:after {
						background-color: $color__green;
					}
				&:focus {
					outline-color: $color__green;
				}
			}
			.primary-navigation {
				text-align: center;
			}
			
		}
		
		.site-header-cart {
			.widget_shopping_cart {
				background-color: $color__light-grey;
				box-shadow: 1px 1px 2px rgba(173,173,173,.7);
			}
		}
		#header-logo-search {
			margin-top: 66.28px;
			position: relative;
			height: 110px;
			@media #{$screen-sm} {
				margin-top: 0;
			}
			.site-search {
				position: absolute;
				top: 50%;
				right: 10%;
				transform: translate(0, -50%);
				margin: 0;
				.widget_product_search {
					input[type=search] {
						background-color: #fff;
						border-radius: 0;
						right: 5.249em;
						padding: 1em 1.618em 1em 3.631em;
					}
					input[type=text] {
						right: 5.249em;
					}
				}

			}
			.site-logo-link {
				position: absolute;
				top: 50%;
				left: 10%;
				margin: 0;
				transform: translate(0, -50%);
				@media #{$screen-md} {
					margin-left: 0;
					width: 100%;
					left: 0;
				}
			}
		
			img {

				@media #{$screen-md} {
					margin-left: auto;
					margin-right: auto;
					max-width: 350px;
				}
				@media #{$screen-sm} {
					max-width: 250px;
				}
			}
		}
	}
}
.header-cart-wrap {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
	background: $color__light-grey;	
}
li.mini_cart_item {
	dl.variation {
		dt.variation-Strrelse {
			float: left;
			margin-right: .5em;
		}
	}
}

.header-logo {
	position: fixed;
	top: 0;
	z-index: 10000;
	overflow: hidden;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	@media #{$screen-md} {
  			background-color: #fff;
  			left: 0;
  			width: 100%;
  		}
	a img {
  		float:left;
  		height:0;
  		padding:5px 0;
	    -webkit-transition: height 0.5s;
		-moz-transition: height 0.5s;
  		transition: height 0.5s;
  		-webkit-transition-timing-function: ease-in-out;
		-moz-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		@media #{$screen-md} {
			margin-left: 1em;
		}
	}
	.header-shrink {
		height: 100px;
  		padding: 7px 0;
	}
}
.header-shrink a img {
  	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
  	float:left;
  	height:50px;
  	width: auto;
  	padding:5px 0;
}
.site-search {
	.widget_product_search {
		form:before {
			top: 1.2em;
			font-size: 14px;
			color: $color__green;
		}
	}
}
.woocommerce-breadcrumb {
	background-color: #fff;
}
.widget_product_search form input[type=search] {
	width: 78%;
}