.woocommerce-active {
	.site-header {
		padding-top: 0;
		.secondary-navigation {
			width: 75%;
			margin: 0;
			ul.menu {
				a {
					padding: 1em .6em;
				}
				i {
					font-size: 20px;
				}
				#menu-item-244 {
					a {
						padding-left: 2em;
					}
					i {
						color: $color__green;
					}
				}
			}	
		}
		.main-navigation {
			width: 100%;
			border-bottom: 1px solid $color__dark-grey;
			@media #{$screen-sm} {
				padding-bottom: 15px;
			}
			ul {
				li {
					a {
						&:before {
							content: "\f219";
							color: $color__green;
						}
					}
				}
			}
			button.menu-toggle {
				box-shadow: none;
				border: 2px solid $color__green;
				span {
					&:before {
						background-color: $color__green;
					}
				}
				&:before {
						background-color: $color__green;
					}
				&:after {
						background-color: $color__green;
					}
				&:focus {
					outline-color: $color__green;
				}
			}
			.primary-navigation {
				text-align: center;
			}
			
		}
		
		.site-header-cart {
			.widget_shopping_cart {
				background-color: $color__light-grey;
				box-shadow: 1px 1px 2px rgba(173,173,173,.7);
			}

		}
		#header-logo-search {
			margin-top: 66.28px;
			@media #{$screen-sm} {
				margin-top: 0;
			}
			.site-search {
				float: left;
				margin-left: 32.6%;
				margin-top: 45px;
				margin-bottom: 45px;
				.widget_product_search {
					input[type=search] {
						background-color: #fff;
						border-radius: 0;
						right: 5.249em;
						padding: 1em 1.618em 1em 3.631em;
					}
					input[type=text] {
						right: 5.249em;
					}
				}
			}
		}
		.site-logo-link {
			margin-left: 5em; 
			margin-top: 1.2em;
			margin-bottom: 1.2em;
			@media #{$screen-sm} {
				margin-left: 0;
				width: 100%
			}
			img {
				@media #{$screen-sm} {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}
.header-cart-wrap {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
	background: $color__light-grey;
}
.site-search {
	.widget_product_search {
		form:before {
			top: 1.2em;
			font-size: 14px;
			color: $color__green;
		}
	}
}
.woocommerce-breadcrumb {
	background-color: #fff;
}
.widget_product_search form input[type=search] {
	width: 78%;
}