.site-header {
	.widget_shopping_cart {
		a.button {
			background-color: $color__green;
			&:hover {
				background-color: $color__dark-green;
			}
			&:focus {
				outline-color: $color__green;
			}
		}
	}
}
.site-header-cart {
	.cart-contents {
		&:after {
			color: $color__green;
		}
	}
}