$size__site-main: 100%;
$size__site-sidebar: 25%;

#clockdiv{
	text-align: center
	div{
		padding: 10px;
		background-color: #91cfe5;
		display: inline-block;
		
	}
	div span{
			padding: 15px;
			background-color: #2d8cad;
			display: inline-block;
		}
	.text{
		padding-top: 5px; 
	}
}