$primary-color: #91cfe5;
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

%link-button{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border: 1px solid $primary-color;
	text-align: center;
	line-height: 40px;
	transition-duration: 0.2s;
	padding: 0 10px;
	&:hover{
		text-decoration: none;
		border: 1px solid #3c9bb5;
	}
}
.onsale{
	position: absolute;
	background: #F56638;
	width: 40px;
	text-align: center;
}

.wrapper-skew {
	background: #00bcd4;
	position: relative;
	margin-top: 70px;
	margin-bottom: 70px;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: -36px;
		width: 100%;
		height: 80px;
		background: #00bcd4;
		-webkit-transform: skewY(-1.5deg);
		-moz-transform: skewY(-1.5deg);
		-ms-transform: skewY(-1.5deg);
		-o-transform: skewY(-1.5deg);
		transform: skewY(-1.5deg);
		-webkit-backface-visibility: hidden;
		z-index: -1;
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -36px;
		width: 100%;
		height: 80px;
		background: #00bcd4;
		-webkit-transform: skewY(-1.5deg);
		-moz-transform: skewY(-1.5deg);
		-ms-transform: skewY(-1.5deg);
		-o-transform: skewY(-1.5deg);
		transform: skewY(-1.5deg);
		-webkit-backface-visibility: hidden;
		z-index: -1;
	}
	
}