@import url(https://fonts.googleapis.com/css?family=Anaheim|Poiret+One);
.counter .link-button {
  margin: 20px auto 0;
  display: inline-block;
  border: 1px solid #91cfe5;
  text-align: center;
  line-height: 40px;
  transition-duration: 0.2s;
  padding: 0 10px; }
  .counter .link-button:hover {
    text-decoration: none;
    border: 1px solid #3c9bb5; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#page {
  min-height: 100%;
  position: relative; }

.site-content {
  padding-bottom: 20px; }

.counter {
  text-align: center; }

.counter h1 {
  color: #3a3a36;
  margin-bottom: 50px; }
.counter .link-button {
  color: #e0e0e0; }

#clockdiv {
  text-align: center;
  display: inline-block;
  font-size: 26px;
  color: #3a3a36;
  margin-bottom: 5%; }
  #clockdiv > div {
    border: 2px solid #91cfe5;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px; }
  #clockdiv div > span {
    padding: 15px 15px 0;
    display: inline-block;
    font-family: 'Poiret One', cursive;
    font-weight: 800; }
  #clockdiv .text {
    font-size: 16px; }

.site-logo {
  width: 350px;
  height: auto;
  margin: 5% auto 5%; }

.site {
  padding: 0 15px; }

body {
  background: url(../img/background.jpg) center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden; }

.site-footer {
  bottom: 0;
  width: 100%;
  height: auto;
  left: 0;
  position: absolute; }
  .site-footer p {
    display: inline-block;
    margin: 0 0 0 30px;
    color: #fff; }
  .site-footer a {
    color: #fff; }
    .site-footer a:hover {
      color: #fff; }
    .site-footer a:visited {
      color: #fff; }

.modal-content {
  border-radius: 0; }
  .modal-content .modal-title {
    display: inline-block; }

@media (max-width: 768px) {
  .counter h1 {
    color: #3a3a36;
    margin-bottom: 10%;
    font-size: 18px; }

  #clockdiv {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #3a3a36; }
    #clockdiv > div {
      border: 2px solid #91cfe5;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      min-width: 65px;
      min-height: 65px; }
    #clockdiv div > span {
      padding: 10px 10px 0;
      display: inline-block;
      font-family: 'Poiret One', cursive;
      font-weight: 800; }
    #clockdiv .text {
      font-size: 14px; }

  .site-logo {
    width: 200px;
    height: auto;
    margin: 10% auto 10px; }

  .site-footer {
    text-align: center; } }
.counter .link-button {
  margin: 20px auto 0;
  display: inline-block;
  border: 1px solid #91cfe5;
  text-align: center;
  line-height: 40px;
  transition-duration: 0.2s;
  padding: 0 10px; }
  .counter .link-button:hover {
    text-decoration: none;
    border: 1px solid #3c9bb5; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#page {
  min-height: 100%;
  position: relative; }

.site-content {
  padding-bottom: 20px; }

.counter {
  text-align: center; }

.counter h1 {
  color: #3a3a36;
  margin-bottom: 50px; }
.counter .link-button {
  color: #e0e0e0; }

#clockdiv {
  text-align: center;
  display: inline-block;
  font-size: 26px;
  color: #3a3a36;
  margin-bottom: 5%; }
  #clockdiv > div {
    border: 2px solid #91cfe5;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px; }
  #clockdiv div > span {
    padding: 15px 15px 0;
    display: inline-block;
    font-family: 'Poiret One', cursive;
    font-weight: 800; }
  #clockdiv .text {
    font-size: 16px; }

.site-logo {
  width: 350px;
  height: auto;
  margin: 5% auto 5%; }

.site {
  padding: 0 15px; }

body {
  background: url(../img/background.jpg) center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden; }

.site-footer {
  bottom: 0;
  width: 100%;
  height: auto;
  left: 0;
  position: absolute; }
  .site-footer p {
    display: inline-block;
    margin: 0 0 0 30px;
    color: #fff; }
  .site-footer a {
    color: #fff; }
    .site-footer a:hover {
      color: #fff; }
    .site-footer a:visited {
      color: #fff; }

.modal-content {
  border-radius: 0; }
  .modal-content .modal-title {
    display: inline-block; }

@media (max-width: 768px) {
  .counter h1 {
    color: #3a3a36;
    margin-bottom: 10%;
    font-size: 18px; }

  #clockdiv {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #3a3a36; }
    #clockdiv > div {
      border: 2px solid #91cfe5;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      min-width: 65px;
      min-height: 65px; }
    #clockdiv div > span {
      padding: 10px 10px 0;
      display: inline-block;
      font-family: 'Poiret One', cursive;
      font-weight: 800; }
    #clockdiv .text {
      font-size: 14px; }

  .site-logo {
    width: 200px;
    height: auto;
    margin: 10% auto 10px; }

  .site-footer {
    text-align: center; } }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poiret One', cursive; }

body {
  font-family: 'Anaheim', sans-serif; }

a {
  color: #3a3a36;
  text-decoration: none; }
  a:hover, a:visited {
    color: #3a3a36;
    text-decoration: underline; }
  a:focus {
    outline: none; }

.counter .link-button {
  margin: 20px auto 0;
  display: inline-block;
  border: 1px solid #91cfe5;
  text-align: center;
  line-height: 40px;
  transition-duration: 0.2s;
  padding: 0 10px; }
  .counter .link-button:hover {
    text-decoration: none;
    border: 1px solid #3c9bb5; }

#mc_embed_signup input[type="text"], #mc_embed_signup input[type="email"],
#mc_embed_signup input[type="url"], #mc_embed_signup input[type="password"],
#mc_embed_signup input[type="search"], #mc_embed_signup input[type="number"],
#mc_embed_signup input[type="tel"], #mc_embed_signup input[type="range"],
#mc_embed_signup input[type="date"], #mc_embed_signup input[type="month"],
#mc_embed_signup input[type="week"], #mc_embed_signup input[type="time"],
#mc_embed_signup input[type="datetime"], #mc_embed_signup input[type="datetime-local"],
#mc_embed_signup input[type="color"] {
  border-radius: 0;
  width: 100%; }
#mc_embed_signup button, #mc_embed_signup input[type="button"], #mc_embed_signup input[type="reset"], #mc_embed_signup input[type="submit"] {
  font-size: 14px;
  box-shadow: none;
  border-radius: 0;
  margin: 30px auto;
  border: 1px solid #91cfe5;
  background-color: #fff; }
  #mc_embed_signup button:hover, #mc_embed_signup input[type="button"]:hover, #mc_embed_signup input[type="reset"]:hover, #mc_embed_signup input[type="submit"]:hover {
    border: 1px solid #3c9bb5; }
#mc_embed_signup .mc-field-group h4 {
  text-align: left; }

/*# sourceMappingURL=custom.css.map */
